@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

.bgImage {
  background-image: url("/img/fondo-conexiones-globales-banner-redes-sociales.jpg");
}

.bgService1 {
  background-image: url("/img/ManagedServices/I_Cableadoestructurado.png");
}